form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.form-inputs input:not(:first-child) {
	margin-left: 32px;
}

h2 {
	margin: 16px 0;
}

[type="submit"] {
	margin-top: 32px;
}

@media (max-width: 1200px) {
	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.form-inputs {
		display: flex;
		flex-direction: column;
	}
	
	.form-inputs input:not(:first-child) {
		margin-left: 0;
	}
	
	.form-inputs input {
		margin: 16px 0;
	}
}